@import "_color.scss";

body {
  max-width: 768px;
  margin: 0 auto;
}
/*element ui 点击元素出现蓝色边框*/
:focus {
  outline: 0;
}

.space-betwee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.el-card {
  border: 1px solid #ffffff45 !important;
  background-color: #ffffff45 !important;
  margin-bottom: 20px;
  color: #fff !important;
}

.bg-create {
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.bg-token {
  background: url('../assets/bg4.jpg');
  background-repeat: no-repeat;
  height: unset;
}

.bg-detail {
  background: linear-gradient(160deg, #0f1846 40%, #0371cc 60%) no-repeat;
  min-height: 100vh;
  height: unset;
}

.create-wallet {
  background: #ffffff6e;
  padding: 50px 100px;
  color: #fff;
  position: relative;
  top: 4vh;

  h1 {
    text-align: center;
  }
  // 表单的标签 
  .el-form-item__label {
    float: none;
    color: $-white;
  }
  // 输入框
  .el-input__inner {
    background-color: transparent;
    color: $-white;
  }

  .el-tabs__item {
    color: $-white;
  }

  .el-tabs__item:hover {
    color: $-bule;
  }

  .el-tabs__item.is-active {
    color: $-bule;
  }

  .el-tabs__active-bar {
    background-color: $-bule;
  }

  .el-button--primary {
    background-color: $-bule;
    border-color: $-bule;
  }

  .el-button--primary.is-active,
  .el-button--primary:active {
    background: $-light-bule;
    border-color: $-light-bule;
  }

  .el-button--primary:focus,
  .el-button--primary:hover {
    background: $-light-bule;
    border-color: $-light-bule;
  }
}